.menu-card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    padding: 24px;
    background-color: var(--bg-primer-color);
    border-radius: 16px;

    &__top {
        h3 {
            color: var(--title-color);
            font-size: 24px;
            font-weight: 500;
        }

        h3:first-of-type {
            margin-top: 150px;
        }

        h3 + h3 {
            margin-top: 8px;
        }

        span {
            color: var(--accent-color);
            font-size: 24px;
            font-weight: 500;
        }
    }

    &__photo {
        position: relative;

        &::before {
            content: '';

            position: absolute;
            top: -148px;
            left: 85%;
            width: 250px;
            height: 250px;
            background-image: url('./..//../img/icons/dashed-circle-small.svg');
            background-repeat: no-repeat;
            background-size: cover;
            transform: translateX(-50%);
        }

        img {
            position: absolute;
            top: -125px;
            left: 85%;
            width: 200px;
            height: 200px;
            transform: translateX(-50%);
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: 4px;

        margin-top: 8px;

        span {
            color: var(--text-grey-color);
            font-size: 24px;
            font-weight: 400;
        }
    }

    &__order {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 30px;

        strong {
            font-size: 36px;
            font-weight: 500;
        }
    }
}
