.menu-card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    padding: 24px;
    background-color: var(--bg-primer-color);
    border-radius: 16px;
}
.menu-card__photo {
    position: relative;

    &::before {
        content: '';

        position: absolute;
        top: -148px;
        left: 85%;
        width: 250px;
        height: 250px;
        background-image: url('./..//../img/icons/dashed-circle-small.svg');
        background-repeat: no-repeat;
        background-size: cover;
        transform: translateX(-50%);
    }
}
.menu-card__photo img {
    position: absolute;
    top: -125px;
    left: 85%;
    width: 200px;
    height: 200px;
    transform: translateX(-50%);
}
.menu-card__body {
    margin-top: 150px;
}
.menu-card__info {
}
.menu-card__info h3 {
    color: var(--title-color);
    font-size: 24px;
    font-weight: 500;
}
.menu-card__info span {
    color: var(--accent-color);
    font-size: 24px;
    font-weight: 500;
}
.menu-card__rating {
    display: flex;
    align-items: center;
    gap: 4px;

    margin-top: 8px;
}
.menu-card__rating span {
    color: var(--text-grey-color);
    font-size: 24px;
    font-weight: 400;
}
.menu-card__order {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 30px;
}
.menu-card__order strong {
    font-size: 36px;
    font-weight: 500;
}
