.menu {
    &__list {
        display: flex;
        align-items: center;
        gap: 2.25rem;
    }
    &__link {
        color: var(--text-grey-color);
        font-size: 1.25rem;
        font-weight: 600;
        line-height: normal;
        transition: color 0.2s ease-in;

        &:hover {
            color: var(--text-color);
        }
    }
}
