.delivery-offers {
    &__container {
        padding-top: 5.9375rem;
        padding-bottom: 3.4375rem;
    }

    &__description {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.625rem;

        h2 {
            max-width: 29.6875rem;
            color: var(--title-color);
            font-size: 3rem;
            font-weight: 700;
        }

        h2 span {
            color: var(--accent-color);
        }

        p {
            max-width: 28.4375rem;
            color: var(--text-light-color);
            font-size: 1.25rem;
            font-weight: 400;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(22.125rem, 1fr));
        gap: 1.25rem;

        margin-top: 3.75rem;
    }
}
