.header {
    background-color: var(--bg-primer-color);

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.625rem;

        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }
}

.logo {
    flex: 0 0 10.1875rem;
}
