.marquee {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
    background-color: var(--bg-primer-color);

    &__content {
        display: inline-block;
        white-space: nowrap;
        animation: slide 20s linear infinite;

        span {
            position: relative;
            margin-right: 80px;

            font-size: 32px;
            font-weight: 500;
            line-height: 3.12;

            &::before {
                content: '';
                position: absolute;
                left: -40px;
                top: 50%;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                background-image: url('./../../img/icons/star.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
